*{
    font-family: 'Chakra Petch';
}

 html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main-section{
    width: 50%;
    height: 50%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.tittle{
    text-align: center;
}

#task-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#task {
    font-size: 1.2rem;
    width: 70%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#add-task {
    font-size: 1.2rem;
    padding: 10px 15px;
    border: none;
    background-color: #4a77d2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#add-task:hover {
    background-color: #3a46ec;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: calc(100%  - 150px);
    overflow-y: auto;
    border-top: 1px solid #ddd;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}

#task-list li:nth-child(odd) {
    background-color: #f1f1f1; 
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.author{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}