*{
    font-family: 'Chakra Petch';
}

.main-section{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.tittle{
    text-align: center;
}




























.author{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}